################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TransactionManagementApplication/TransactionManagementApplication/obj
/TransactionManagementApplication/.vs
/.vs
/TransactionManagementApplication/TransactionManagementApplication/bin
